---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About"
	description="About Jedwidz — career coder and full stack developer."
	pubDate={new Date('2026-06-26')}
>
	<p>
		Career coder and full stack developer, creator of
		<a href="https://loggo-turtle.app/">LoGGo Turtle Graphics</a>.
	</p>
</Layout>
